@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}

.inner {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #fff;
  transition: 0.3s;
}

#header nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 메뉴 떨어지는 세팅 */
#header::before {
  content: '';
  position: absolute;
  top: -400px;
  left: 0;
  width: 100%;
  height: 400px;
  background: rgb(57, 57, 241);
  transition: 0.3s;
}
#header.active::before {
  top: 0;
}

#header .logo {
  /* position: relative; */
  z-index: 5;
}

/* header에 hide 클래스가 들어가면 top 수정 */
#header.hide {
  top: -100px;
}

#header.active .logo {
  background: #fff;
}

.gnb {
  display: flex;
}
.gnb > li {
  position: relative; /* submenu 위치 지정을 위한 기준점 */
}

/* jQuery에서 on클래스를 부여했을 때 디자인 */
.gnb > li.on {
  background: #f39;
}

.gnb > li > a {
  display: block;
  padding: 10px 40px;
  border: 1px solid #fff;
}

.submenu {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  /* background: #ff5; */
  padding-top: 20px;

  /* jQuery 슬라이드/업다운 효과를 위한 설정 */
  display: none;
}

.submenu li a {
  display: block;
  border: 1px solid #ff0;
  padding: 10px;
  text-align: center;
  background: #f00;
  color: #fff;
}
.submenu li a:hover {
  background: rgb(129, 5, 5);
}

#container {
  padding: 150px 0;
}

#footer {
  padding: 50px;
  text-align: center;
  color: #fff;
  background: #333;
}
